
/* First PAGE */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9b7b39;
}

 /* Header Home Page */

 /* Navigation Bar */
.nav-one {
    padding: 20px 0px 10px;
    text-align: center;
    font-size: 20px;
}

.nav-one a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin: 0 15px;
    gap: 5px;
    font-weight: bold;
}

/* Header Section */
.header-one {
    position: relative;
    max-inline-size: 100%;
    margin: 10px 40px;
}

.header-one img {
    display: block;
    height: auto;
    max-inline-size: 100%;
    
}

.header-one h1 {
    position: absolute;
    display: flex;
    top: 33%;
    bottom: 2%;
    left: 24%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #d1af47;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 10vw;
    line-height: 1em;
    font-style: italic;
}

        
/* Main Content Home Page */


#main-home {
    padding: 5px 0px;
}

/* first content section */

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;
            
}

.second-image {
    flex: 1;
    min-width: 250px;
            
}

.second-image img {
    width: 100%;
    height: auto;
    display: block;      
}

    

p {
    flex: 2;
    min-width: 300px;
    font-size: 1.5em;
    text-align: justify;

}



 
/* second content section */

.content-two {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin-bottom: 40px;
    background-color: #d1af47;
    gap: 20px
}

.third-image {
    flex: 1;
    min-width: 250px;
}

        
.third-image img{
    width: 100%;
    height: auto;
    display: block;
}


h6 {
    flex: 2;
    min-width: 300px;
    font-size: 1.5em;
    text-align: justify;
    align-items: center;
}


@media (max-width: 675px) {

    .content-two {
            flex-direction: column; 
        }
    }





/* SECOND PAGE */

.page-types {
    font-family: Arial, sans-serif;
    background-color: #9b7b39;
}

.nav-two {
    padding: 20px 0px 10px;
    text-align: center;
    font-size: 20px;
}

.nav-two a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin: 0 15px;
    gap: 5px;
    font-weight: bold;
}

.header-two {
    position: relative;
    margin: 10px 20px 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 150px;
}


.header-two h1 {
    position: absolute;
    
    justify-content: center;
    min-width: 100%;
    margin:  0px 30px 20px 0px;
    color: #d1af47;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 6vw;
    font-style: italic;
    border: black solid 4px;
}

/* Main Content Types Page */

   .container {
            margin: 50px 20px 20px;      
            padding: 0px 20px;
           
            
        }

     .tea-section {
            
            display: flex;
            align-items: flex-start;
            margin-bottom: 5px;
            padding: 0px 15px 0px;
            background-color: #d1af47;
            border-radius: 10px;
        }

        .tea-image {
            margin: 20px  auto;
            min-width: 300px;
            max-width: 100%;
            height: auto;
            display: block;
        }

        .text-content p {
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

/*one*/
        .tea-section {
            display: flex;
            align-items: flex-start;
            margin-bottom: 5px;
            padding: 0px 15px 0px;
        }

        .tea-section h1 {
            color: black;
            text-align: center;
            text-decoration: underline;
            padding-bottom: 5px;
            margin-left: 10px;
        }

           


        .text-content {
            padding: 0 20px;  
            color: black;
        }

        .left .tea-image {
            order: -1;
           
        }

/*two*/
        

        .tea-section h1 {
            color: black;
            text-decoration: underline;
            padding-bottom: 5px;
            margin-top: 0;
        }

     

        .text-content {
            padding: 0 20px;
            line-height: 1.4;
            color: black;
        }

        .right .tea-image {
            order: 1;
            margin-left: 20px;
            margin-right: 0;
        }


@media (max-width: 700px) {

    .right, .left {
            flex-direction: column;
            align-items: center;
        }

    .tea-image {
        margin: 10px 0;
        order: 0; 
        max-width: 90%;
        min-width: 0;
    }

    .left .tea-image {
        order: 1;
    }


}

   
   
        
