
/* For First Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9b7b39;
}

/* Navigation */
nav {
    padding: 20px 0px 0px;
    text-align: center;
    font-size: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin: 0 15px;
    gap: 5px;
    font-weight: bold;
}

/* Header */
header {
    position: relative;
    max-inline-size: 100%;
    margin: 10px 40px;
}

header img {
    display: block;
    height: auto;
    max-inline-size: 100%;
    
}

header h1 {
    position: absolute;
    display: flex;
    top: 20%;
    bottom: 2%;
    left: 24%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #d1af47;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 10vw;
    line-height: 1em;
}

        

/* Main Content */

main {
    padding: 5px 0px;
}

/*content 1*/

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;
            
}

.second-image {
    flex: 1;
    min-width: 250px;
            
}

.second-image img {
    width: 100%;
    height: auto;
    display: block;      
}

    

.text-one {
    flex: 2;
    min-width: 300px;
    font-size: 1.5em;
    text-align: justify;

}



 /*Content 2*/


.content-two {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin-bottom: 40px;
    background-color: #d1af47;
    gap: 20px
}

.third-image {
    flex: 1;
    min-width: 250px;
}

        
.third-image img{
    width: 100%;
    height: auto;
    display: block;
}


.text-two {
    flex: 2;
    min-width: 300px;
    font-size: 1.5em;
    text-align: justify;
    align-items: center;
}


@media (max-width: 675px) {

    .content-two {
            flex-direction: column; 
        }

    }